template(name='user_connections')
    .ui.segment.profile_block
        .ui.grey.inline.center.aligned.header 
            i.people.carry.icon
            | Connections
        .ui.middle.aligned.selection.animated.large.list
            each connections
                +user_segment
    //- .ui.fluid.styled.accordion.profile_block
    //-     .active.title
    //-         .ui.grey.inline.center.aligned.header 
    //-             i.tasks.icon
    //-             | Connections
    //-     .active.content
    //-         .ui.link.items
    //-             each connections
    //-                 +user_segment
    //- .ui.header Nonconnections    
    //- each nonconnections
    //-     +user_segment


template(name='user_segment')
    a.item(href="/user/#{username}")
        img.ui.avatar.image(src="{{c.url image_id gravity='face' crop='crop'}}")
        .content
            .header
                |#{first_name} #{last_name}
            .description
                each tags
                    .ui.basic.circular.label #{this}

    //- .ui.horizontal.card
    //-     .image
    //-         if image_id
    //-             img(src="{{c.url image_id gravity='face' crop='crop'}}")
    //-     .content
    //-         a.ui.header(href="/user/#{username}")
    //-             |#{first_name} #{last_name}
    //-             //- |#{username}
    //-         //- .ui.header Tags
    //-         each tags
    //-             .ui.basic.circular.label #{this}
    //-         +user_status user
    //-         .ui.header #{body}
    //-         +user_connect_button

template(name='user_connect_button')
    if is_connected
        .ui.blue.circular.button.disconnect
            |Connected
    else
        .ui.basic.circular.button.connect
            |Connect
