template(name='forgot_password')
    .ui.padded.stackable.grid
        .centered.row
            .fifteen.wide.column
                //- h1.ui.center.aligned.header Reset Password
                h1.ui.center.aligned.grey.header
                    i.refresh.icon
                    |Forgot Password 
                if message
                    h4.ui.center.aligned.header #{message}
                .ui.center.aligned.basic.segment
                    .ui.left.icon.labeled.large.input(class=login_class)
                        .ui.smoothed.basic.label
                            i.user.icon
                            | Username
                        input.username(type='text')
                    .ui.circular.blue.submit.button.submit_username Submit
                    div
                    .ui.left.icon.labeled.large.input
                        .ui.basic.smoothed.label
                            i.envelope.icon
                            | Email
                        input.email(type='email')
                    .ui.circular.blue.submit.button.submit_email Submit
                if username
                    if logging_in
                        .ui.fluid.large.hhblue.circular.button.enter(title="Login #{username}" class=enter_class)
                            |Login '#{username}'
                            i.right.arrow.icon
                    else
                        .ui.center.aligned.secondary.segment
                            .ui.small.grey.header Username "#{username}" not found
                            a(href='/register') Register
                .ui.center.aligned.basic.segment    
                    a.ui.circular.big.basic.button(href='/login') 
                        i.sign.in.icon
                        |Login
                    a.ui.circular.big.basic.button(href='/register')
                         i.user.plus.icon
                         |Register


template(name='reset_password')
    .ui.padded.stackable.grid
        .centered.row
            .fifteen.wide.column
                img.ui.centered.image(src="{{c.url 'henry_logo'}}")
                .ui.center.aligned.grey.header
                    i.refresh.icon
                    |Reset Password 
                form#reset_password_form.ui.form
                    .field
                        label Password
                        .ui.left.icon.input
                            input.password1(type='password')
                            i.lock.icon
                    .field
                        label Password 2
                        .ui.left.icon.input
                            input.password2(type='password')
                            i.lock.icon
                    button.ui.hhblue.submit.button(type='submit') Submit
